{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mainix.net</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
       setInterval("table1();",10000);
       function table1(){
         $('#refresh').load(location.href + ' #table1');
       }

    </script>


</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a href="#" class="navbar-brand mr-3">
            <img alt ="Mainix" src ='{%static "img/MAINIXLOGO.png"%}' height="28" >
            Mainix . net</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/stock" class="nav-item nav-link"></a>
                <a href="#" class="nav-item nav-link"></a>
                <a href="#" class="nav-item nav-link"></a>
            </div>
        </div>

    </div>
</nav>

<div class="container">
  <div id ="refresh">
    <div id = "table1">
    {% if time > 8 and time < 23 %}
        <h2>미국 주요 지수 야간 </h2>
    {% else %}
        <h2>미국 주요 지수 </h2>
    {% endif %}
      <table class="table table-bordered">
       <thead>
              <tr>
                <th>인덱스명</th>
                <th>지 수</th>
                <th>등 락</th>
                <th>뉴욕 시간</th>
              </tr>
        </thead>
        <tbody>
              {% for signal in america_index %}
              <tr>
                  <td><a href="{{signal.url}}" target="_blank">
                      <p class="text-dark"> {{signal.market}}</p>
                        </a>
                  </td>
                  <td>{{signal.indice}}</td>
                  <td>
                    {% if signal.rate > 0 %}
                      <p class="text-danger"> +{{signal.rate}}%</p>
                    {% elif signal.rate < 0 %}
                       <p class="text-primary">{{signal.rate}}%</p>
                    {% else %}
                       <p>{{signal.rate}}</p>
                    {% endif %}
                  </td>
                  <td>{{signal.time}}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>

    <h2>국내 주요 지수</h2>
        <table class="table table-bordered">
       <thead>
              <tr>
                <th>인덱스명</th>
                <th>지수</th>
                <th>등락</th>
                <th>시간</th>
              </tr>
     </thead>
        <tbody>
              {% for signal in korea_index %}
              <tr>
                  <td><a href="https://finance.naver.com/sise/sise_index.nhn?code={{signal.market}}" target="_blank">
                      <p class="text-dark"> {{signal.market}}</p></a></td>
                  <td>{{signal.indice}}</td>
                  <td>
                    {% if signal.rate > 0 %}
                      <p class="text-danger"> +{{signal.rate}}%</p>
                    {% elif signal.rate < 0 %}
                       <p class="text-primary">{{signal.rate}}%</p>
                    {% else %}
                       <p>{{signal.rate}}</p>
                    {% endif %}
                  </td>
                  <td>{{signal.time}}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>

    <h2>시장 지표 </h2>
        <table class="table table-bordered">
         <thead>
              <tr>
                <th>Market</th>
                <th>Index</th>
                <th>등락</th>
                <th>시간</th>
              </tr>
     </thead>
        <tbody>
              {% for signal in usd_exchange %}
              <tr>
                  <td><a href="https://kr.investing.com/currencies/usd-krw" target="_blank">
                      <p class="text-dark">{{signal.market}}</p></a></td>
                  <td>{{signal.indice}}</td>
                  <td>
                    {% if signal.rate > 0 %}
                      <p class="text-danger"> +{{signal.rate}}%</p>
                    {% elif signal.rate < 0 %}
                       <p class="text-primary">{{signal.rate}}%</p>
                    {% else %}
                       <p>{{signal.rate}}</p>
                    {% endif %}
                  </td>
                  <td>{{signal.time}}</td>
              </tr>
              {% endfor %}
              {% for signal in wti %}
              <tr>
                  <td><a href="https://kr.investing.com/commodities/crude-oil" target="_blank">
                      <p class="text-dark"> {{signal.market}}</p></a></td>
                  <td>{{signal.indice}}</td>
                  <td>
                    {% if signal.rate > 0 %}
                      <p class="text-danger"> +{{signal.rate}}%</p>
                    {% elif signal.rate < 0 %}
                       <p class="text-primary">{{signal.rate}}%</p>
                    {% else %}
                       <p>{{signal.rate}}</p>
                    {% endif %}
                  </td>
                  <td>{{signal.time}}</td>
              </tr>
              {% endfor %}


            </tbody>
      </table>

    <h2> 추천 종목 </h2>
      <table class="table table-bordered">
        <thead>
              <tr>
                <th>종 목 명</th>
                <th>가 격</th>
                <th>등 락</th>
                <th>시 가</th>
                <th>TIME</th>
              </tr>
            </thead>
        <tbody>
              {% for signal in t_stock %}
              <tr>
                  <td><a href="https://finance.naver.com/item/main.nhn?code={{signal.code}}" target="_blank">
                      <p class="text-dark"> {{signal.stock_name}}</p></a></td>
                  <td>{{signal.sise}}</td>
                  <td>
                    {% if signal.dungrak > 0 %}
                      <p class="text-danger"> +{{signal.dungrak}}%</p>
                    {% elif signal.dungrak < 0 %}
                       <p class="text-primary">{{signal.dungrak}}%</p>
                    {% else %}
                       <p>{{signal.dungrak}}</p>

                    {% endif %}
                  </td>
                  <td>{{signal.start_price}}</td>
                  <td>{{signal.time}}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
    </div>

  </div>
</div>

</body>
</html>